{% extends "base.html" %}
{% block content %}
<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="card shadow p-4" style="min-width:320px; max-width:400px;">
        <h2 class="mb-3 text-center">Vehicle Parking Application</h2>
        <h3 class="mb-4 text-center">User Login</h3>
        <form method="post">
            <div class="mb-3">
                <label>Email:</label>
                <input class="form-control" type="email" name="email" required>
            </div>
            <div class="mb-3">
                <label>Password:</label>
                <input class="form-control" type="password" name="password" required>
            </div>
            <button class="btn btn-primary w-100" type="submit">Login</button>
        </form>
    </div>
</div>
{% endblock %}

